.sign-up-bg-image {
    // background-image: url('../../public/assets/images/main-layout.jpg');
    // background-repeat: no-repeat;
    width: 100%;
    min-height: 100dvh;
    // background-size: cover;
    padding: 0px !important;
}
.leftimage-css  {
    background-image: url('../assets/images/left-side-background.svg');
   background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.sign-up-title {
    color: var(--text-primary);
    font-weight: 700;
    font-size: 18px;
}

.sign-up-subtitle {
    color: #667085;
    font-size: 11px;
}

.terms-title {
    font-size: 13px;
    line-height: 24px;
    letter-spacing: 0.15px;
    color: #00000099;
}

.sign-up-description {
    font-size: 13px !important;
    line-height: 19.5px !important;
    color: #00000099;
}

// sign up  end


//  sign  in strat
.d-flex {
    display: flex;
}

.w-50 {
    width: 50%;
}

.gap-10 {
    gap: 10px;
}

.gap-32 {
    gap: 32px;
}

.justify-center {
    justify-content: center;
}

.justify-end {
    justify-content: end;
}

.mt-29 {
    margin-bottom: 29px;
}